{% load i18n l10n %}
{% load fruit %}
{% load bootstrap %}
{% load coords %}

<form method="post" action="" role="form" class="row">
	{% csrf_token %}
	<div class="col-sm-12">
		{{ form.kind|bootstrap }}
	</div>
	<div class="col-sm-6">
		 <input required="required" class="form-control" id="id_latitude" max="90" min="-90" name="latitude" step="1e-10" type="number" value="{{ fruit.position.y|unlocalize }}">
	</div>
	<div class="col-sm-6">
		 <input required="required" class="form-control" id="id_longitude" max="180" min="-180" name="longitude" step="1e-10" type="number"  value="{{ fruit.position.x|unlocalize }}">
	</div>
	<div class="col-sm-12">
		<textarea class="form-control" cols="40" id="id_description" name="description" rows="5" placeholder="{% trans 'Description' %}"></textarea>
	</div>
	<div class="col-sm-12">
		{{ form.catalogue|bootstrap }}
		<p>
			<input type="submit" class="btn btn-primary" value="
               {% if mode == 'add' %}
                   {% trans 'Add marker' %}
               {% elif mode == 'edit' %}
                   {% trans 'Save changes' %}
               {% endif %}">
		</p>
	</div>
</form>
