{% extends 'base.html' %}

{% load i18n %}
{% load avatar %}
{% load static from staticfiles %}
{% load compress %}

{% block title %}{{ user.username }} | {{ block.super }}{% endblock %}

{% block pickers_active %}active{% endblock %}

{% block content %}
<div class="row detail-info">
    <div class="col-sm-6 media">
		<img class="pull-left avatar"
		     src="{% avatar user bg_shade=0.3 %}"
		     title="{{ user.username }}">
	    <div class="media-body">
            {% if user.resolution == user.RESOLUTION.picker %}
	            <h3>{{ user.username }}</h3>
			    <p>{% trans "Joined" %}: <strong>{{ user.date_joined }}</strong></p>
            {% else %}
	            {% if user.external_url %}
	                <h3><a href="{{ user.external_url }}" target="_blank" rel="noopener noreferrer">{{ user.username }}</a></h3>
                    <p>(<a href="{{ user.external_url }}" target="_blank" rel="noopener noreferrer">{% trans 'external source of markers' %}</a>)</p>
	            {% else %}
		            <h3>{{ user.username }}</h3>
                    <p>({% trans 'external source of markers' %})</p>
	            {% endif %}
            {% endif %}
			<p>{% trans "Markers added" %}: <strong>{{ user.fruit_count }}</strong></p>
	    </div>
    </div>
	{% if user.motto %}
    <div class="col-sm-12">
	    <div class="motto">
            <p><strong>Motto:</strong> {{ user.motto }}</p>
	    </div>
    </div>
	{% endif %}
</div>
<div class="row">
    <div class="col-sm-12">
	    <div id="map-detail"></div>
	</div>
    <div class="col-sm-12">
        <ul class="quick-links">
	        <li><a href="{% url 'map' %}">{% trans 'Large map' %}</a></li>
	        <li><a href="{% url 'fruit:add' %}">{% trans 'Add marker' %}</a></li>
        </ul>
    {% if user.is_authenticated and user == request.user %}
        <hr>
        <ul class="quick-links">
		    <li><a href="{% url 'pickers:settings' user.id %}">{% trans 'Account settings' %}</a></li>
		    <li><a href="{% url 'pickers:messages' user.id %}">{% trans 'My messages' %}</a></li>
	        {% if user.has_usable_password %}
		        <li><a href="{% url 'account_change_password' %}">{% trans 'Change password' %}</a></li>
	        {% else %}
		        <li><a href="{% url 'account_set_password' %}">{% trans 'Set password' %}</a></li>
	        {% endif %}
		    <li><a href="{% url 'socialaccount_connections' %}">{% trans 'Account connections' %}</a></li>
        </ul>
    {% endif %}
    </div>
</div>

{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'components/leaflet/dist/leaflet.css' %}">
	<link rel="stylesheet" href="{% static 'components/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css' %}">
	<link rel="stylesheet" href="{% static 'components/leaflet.markercluster/dist/MarkerCluster.css' %}">
	<link rel="stylesheet" href="{% static 'components/leaflet.locatecontrol/dist/L.Control.Locate.css' %}">
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static 'components/leaflet/dist/leaflet.js' %}"></script>
	<script src="{% static 'components/leaflet.locatecontrol/dist/L.Control.Locate.min.js' %}"></script>
	<script src="{% static 'components/leaflet.markercluster/dist/leaflet.markercluster.js' %}"></script>
	<script src="{% static 'components/esri-leaflet/dist/esri-leaflet.js' %}"></script>
	<script src="{% static 'components/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.js' %}"></script>

	{% include 'inc/mapjs.html' %}

	{% compress js inline %}
	<script type="text/coffeescript" charset="utf-8">

	map = new Naovoce.Map 'map-detail'

	map.loadMarkers('{% url 'api:fruit-list' %}?user={{ user.id }}')
		.setView Naovoce.CENTER_CS
		.setZoom 7
		.addLocate()
		.addSearch()

	</script>
	{% endcompress %}
{% endblock %}
