{% extends 'base.html' %}

{% load i18n %}
{% load avatar %}
{% load static from staticfiles %}
{% load compress %}

{% block title %}{{ user.username }} | {{ block.super }}{% endblock %}

{% block pickers_active %}active{% endblock %}

{% block body_class %}panel_open picker_detail{% endblock %}

{% block body %}
	{# get header #}
	{% include 'inc/user_info.html' %}

	<div class="container-fluid">

		<div class="row gold">
			{# map object #}
			<div id="map-detail" class="col-md-9 col-sm-7 col-xs-12"></div>

			<div class="col-md-3 col-sm-5 the_panel">
				{# arrow back to map #}
				<a href="{% url 'map' %}" class="back_to_map_quick"></a>

				<div class="nano">
				    <div class="nano-content">
				    	<div class="detail-info inner_minor">
							<img class="avatar" src="{% avatar user bg_shade=0.3 %}" title="{{ user.username }}">

						    <div class="media-body">
					            {% if user.resolution == user.RESOLUTION.picker %}
						            <h1>{{ user.username }}</h1>
                                    {% if user.is_active %}
                                        {% if user.motto %}
                                            <div class="motto">
                                                "{{ user.motto }}"
                                            </div>
                                        {% endif %}

                                        <div class="markers_added">
                                            <label>{% trans "Markers added" %}</label>
                                            <strong>{{ user.fruit_count }}</strong>
                                        </div>
                                    {% else %}
                                        <p>Účet byl deaktivován</p>
                                    {% endif %}
					            {% else %}
						            {% if user.external_url %}
						                <h3>
						                	<a href="{{ user.external_url }}" target="_blank" rel="noopener noreferrer">
						                		{{ user.username }}
						                	</a>
						                </h3>
					                    <p>
					                    	(<a href="{{ user.external_url }}" target="_blank" rel="noopener noreferrer">
					                    		{% trans 'external source of markers' %}
					                   		</a>)
					                   	</p>

						            {% else %}
							            <h3>
							            	{{ user.username }}
							            </h3>
					                    <p>
					                    	({% trans 'external source of markers' %})
					                    </p>

						            {% endif %}

					            {% endif %}

								{% if user.is_authenticated and user == request.user %}
							        <ul class="list">
									    <li>
									    	<a href="{% url 'pickers:settings' user.id %}">{% trans 'Account settings' %}</a>
									    </li>
									    <li>
									    	<a href="{% url 'pickers:messages' user.id %}">{% trans 'My messages' %}</a>
									    	{# message infobox #}
									    	{% with num_msg=request.user.get_unread_messages.count %}
											    {% if num_msg %}
												    <a href="{% url 'pickers:messages' request.user.id %}" class="messages-count" title="{% blocktrans %}You have {{ num_msg }} unread messages{% endblocktrans %}.">
													    {{ num_msg }}
												    </a>
											    {% endif %}
										    {% endwith %}
									    </li>
								        {% if user.has_usable_password %}
									        <li>
									        	<a href="{% url 'account_change_password' %}">{% trans 'Change password' %}</a>
									        </li>
								        {% else %}
									        <li>
									        	<a href="{% url 'account_set_password' %}">{% trans 'Set password' %}</a>
									        </li>
								        {% endif %}
									    <li><a href="{% url 'socialaccount_connections' %}">{% trans 'Account connections' %}</a></li>
									    {# picker codex #}
									    <li><a href="https://www.na-ovoce.cz/kodex">{% trans 'Picker codex' %}</a></li>
							        </ul>
							    {% endif %}
                                {% if request.user.is_active %}
                                    <p class="joined">
                                        {% trans "Joined" %}: {{ user.date_joined|date:"SHORT_DATE_FORMAT" }}
                                    </p>
                                {% endif %}
							</div>
						</div>
				    </div>
				</div>
			</div>
		</div>

	 </div>
</div>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'components/leaflet/leaflet.css' %}">
	<link rel="stylesheet" href="{% static 'components/leaflet/esri-leaflet-geocoder.css' %}">
	<link rel="stylesheet" href="{% static 'components/leaflet/MarkerCluster.css' %}">
	<link rel="stylesheet" href="{% static 'components/leaflet/L.Control.Locate.css' %}">
	{{ block.super }}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static 'components/leaflet/leaflet.js' %}"></script>
	<script src="{% static 'components/leaflet/L.Control.Locate.min.js' %}"></script>
	<script src="{% static 'components/leaflet/leaflet.markercluster.js' %}"></script>
	<script src="{% static 'components/leaflet/esri-leaflet.js' %}"></script>
	<script src="{% static 'components/leaflet/esri-leaflet-geocoder.js' %}"></script>

	{% include 'inc/mapjs.html' %}

    {% compress js inline %}
    <script type="text/coffeescript" charset="utf-8">

        $('#map-detail').fillViewport()

        map = new Naovoce.Map 'map-detail'

        map.loadMarkers('{% url 'api:fruit-list' %}?user={{ user.id }}')
            .setZoom 7
            .loadState()
            .addLocate()
            .addSearch()

    </script>
    {% endcompress %}

{% endblock %}
