{% extends 'base.html' %}
{% load i18n %}
{% load avatar %}
{% load naturalsort %}

{% block pickers_active %}active{% endblock %}

{% block title %}{% trans "Pickers Index" %} | {{ block.super }}{% endblock %}

{% block content %}
	<h3>{% trans "Top Contributors" %}</h3>
	<ul class="list-unstyled hall-of-fame">
	{% for p in top_all_time %}
		<li>
			{% with name=p.get_short_name %}
			<a href="{{ p.get_absolute_url }}" title="{{ name }}">
				<img src="{% avatar p %}" alt={{ name }} class="avatar">{{ name }}</a>
			{% endwith %}
			({% trans "markers added" %}: {{ p.fruit_count }})
		</li>
	{% endfor %}
	</ul>

	<hr>
	<h3>{% trans "Top Contributors Last Month" %}</h3>
	<ul class="list-unstyled hall-of-fame">
	{% for p in top_last_month %}
		<li>
			{% with name=p.get_short_name %}
			<a href="{{ p.get_absolute_url }}" title="{{ name }}">
				<img src="{% avatar p %}" alt={{ name }} class="avatar">{{ name }}</a>
			{% endwith %}
			({% trans "markers added" %}: {{ p.fruit_count }})
		</li>
	{% endfor %}
	</ul>

	<hr>
	<p>{% blocktrans trimmed %}
		Kudos to all <strong>{{ pickers_count }}</strong> pickers,
		that contributed <strong>{{ fruit_count }}</strong> markers.
	{% endblocktrans %}</p>
{% endblock %}
