{% extends 'base.html' %}

{% load i18n %}

{% block title %} {% trans 'Messages' %} | {{ user.username }} | {{ block.super }}{% endblock %}

{% block pickers_active %}active{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel-default panel messages_panel">
			    <h1>
			    	{% trans 'Messages' %}
			   	</h1>

				<ul class="messages list-unstyled">
					{% for msg in user.messages.all %}
						<li class="alert {% if msg.read %}alert-unimportant{% else %}alert-info{% endif %}">
							<div class="date">
								{{ msg.created }}
							</div>
							<p>
								{{ msg.text }}
							</p>
						</li>
					{% empty %}
						<li class="alert alert-warning">{% trans 'You have no messages.' %}</li>
					{% endfor %}
				</ul>

			</div>
		</div>
	</div>
{% endblock %}
