{% load i18n %}
{% load avatar %}
{% load typo %}

<div class="comments">

	{% include 'comments/inc/form.html' %}

	{% if comments %}
		{% for c in comments %}
			<div class="media comment" id="{{ c.anchor }}">
				<p class="media-body comment-text {% if c.complaint %}complaint{% endif %}">
					<span class="author">
						<a href="{{ c.author.get_absolute_url }}">{{ c.author }}</a>
						<span class="created">
							{{ c.created|date:'SHORT_DATETIME_FORMAT' }}
						</span>
					</span>
					{% if not c.rejected %}
						{{ c.text|prepos|linebreaksbr }}
					{% else %}
						<span class="rejected">
							{% trans 'This comment has been rejected by moderator.' %}
						</span>
					{% endif %}
				</p>
			</div>
		{% endfor %}
		
	{% endif %}

</div>
