{% load i18n %}
{% load avatar %}
{% load typo %}
{% load bootstrap %}

<div class="col-sm-8">
{% if request.user.is_authenticated %}
	<form action="" method="post" role="form"
	      class="comment_form {% if comment_form.errors %}errors{% endif %}">
		{% csrf_token %}
			{{ comment_form.non_field_errors }}
			{{ comment_form.text|bootstrap }}
			{% if comment_form.complaint %}
				{{ comment_form.complaint|bootstrap }}
			{% endif %}
			<div class="tamper">
				{{ comment_form.tamper.errors }}
				{{ comment_form.tamper|bootstrap }}
			</div>
	        <input type="submit" class="btn btn-default" id="id_submit"
	               value="{% trans 'Add your comment' %}">
		<input type="hidden" name="token" value="{{ token }}">
		<input type="hidden" name="comment_form" value="comment_form">
	</form>
{% else %}

		<a href="{% url 'account_login' %}?next={{ request.path }}">
			{% trans 'Sign in' context 'imperative' %}</a>
		{% trans 'to add your comment' %}.

{% endif %}
{% if comments %}
	<hr>
	{% for c in comments %}
		<div class="media comment" id="{{ c.anchor }}">
			<a href="{{ c.author.get_absolute_url }}"
			   class="pull-left media-object"
			   title="{{ c.author.get_short_name }}">
				<img src="{% avatar c.author 100 0.3 %}"
				     alt="{{ c.author.get_short_name }}"
					 class="avatar">
			</a>
			<p class="media-body comment-text {% if c.complaint %}complaint{% endif %}">
				<span class="author">
					<a href="{{ c.author.get_absolute_url }}">{{ c.author }}</a>
					<span class="created">
						{{ c.created|date:'SHORT_DATETIME_FORMAT' }}
					</span>
				</span>
				{% if not c.rejected %}
					{{ c.text|prepos }}
				{% else %}
					<span class="rejected">
						{% trans 'This comment has been rejected by moderator.' %}
					</span>
				{% endif %}
			</p>
		</div>
	{% endfor %}
{% endif %}
</div>
