{% load i18n %}
{% load bootstrap %}

{% if request.user.is_authenticated %}
	<form action="" method="post" role="form"
	      class="comment-form {% if comment_form.errors %}errors{% endif %}">{% csrf_token %}
			{{ comment_form.non_field_errors }}
			{{ comment_form.text|bootstrap }}
			{% if comment_form.complaint %}
				{{ comment_form.complaint|bootstrap }}
			{% endif %}
			<div class="tamper">
				{{ comment_form.tamper.errors }}
				{{ comment_form.tamper|bootstrap }}
			</div>
	        <input type="submit" class="btn btn-success" id="id_submit"
	               value="{% trans 'Add your comment' %}">
		<input type="hidden" name="token" value="{{ token }}">
		<input type="hidden" name="comment_form" value="comment_form">
	</form>
{% else %}
	<a href="{% url 'account_login' %}?next={{ request.path }}">
		{% trans 'Sign in' context 'imperative' %}</a>
	{% trans 'to add your comment' %}.
{% endif %}
