{% load i18n %}
{% load compress %}

{% compress js inline %}
<script type="text/coffeescript">
	commentsForm = $ 'form.comment-form'

	if not commentsForm.hasClass 'errors'
		$ "<a href='#' class='btn add_comment'>{% trans 'Add your comment' %}</a>"
			.insertBefore commentsForm
			.one 'click', ->
				this.remove()
				commentsForm.show()
				false

	complaintCheckbox = commentsForm.find '#id_complaint'
	complaintText = commentsForm.find '#id_text'
	complaintCheckbox.change ->
		complaintText.toggleClass 'complaint'
</script>
{% endcompress %}
