*~
*#
*.bak
*.sw[abcdefghijklmnop]  # vim
.~lock.*

__pycache__/
*.py[cod]
*$py.class

*.class
*.o
*.so

*.log
*.sqlite

.idea
.project
.pydevproject
.settings

.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
thumbs.db
Thumbs.db
