Django>=2.0,<2.1
Pillow>=3
CairoSVG>=1.0
django-allauth>=0.36
django-leaflet
django-ipware>=1.1
django-modeltranslation>=0.13-beta1
djangorestframework>=3.8
djangorestframework-gis
django-cors-headers>=2.0.2
markdown2>=2.3
psycopg2-binary>=2.6
requests>=2.11
sorl-thumbnail>=12.3
python3-memcached>=1.51
psutil>=3.4
