{% load i18n %}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="row panel panel-default">
			<div class="panel-heading">{{ title }}</div>
			<form class="panel-body" method="post" action="{{ action }}" role="form">{% csrf_token %}
				{% if message %}
					<div class="alert alert-danger"><p>{{ message }}</p></div>
				{% endif %}
					<button class="btn btn-default" type="submit">{{ cta|default:_('Confirm') }}</button>
				{% if back %}
					<a href="{{ back }}">{% trans 'Back' %}</a>
				{% endif %}
				{% if next %}
					<input name="next" value="{{ next }}" type="hidden">
				{% elif redirect_field_name and redirect_field_value %}
					<input name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" type="hidden">
				{% endif %}
			</form>
		</div>
	</div>
</div>
