{% load i18n %}

<hr>
<div class="footer row">
	<div class="col-sm-5">
		<h4>{% trans 'Contact' %}</h4>
		<ul class="list-unstyled">
			<li>
				Na&nbsp;ovoce,&nbsp;z.&nbsp;s.<br>
				IČ:&nbsp;04380215
			</li>
			<li>
				Team: <a href="mailto:team@na-ovoce.cz">team@na-ovoce.cz</a><br>
				Katka&nbsp;Kubánková, Edita&nbsp;Hornová, Jörg&nbsp;Kösters,
				František&nbsp;Marčík, Monika&nbsp;Křikavová, Jana&nbsp;Kosová
			</li>
			<li>
				Software: <a href="mailto:software@na-ovoce.cz">software@na-ovoce.cz</a><br>
				Ondra&nbsp;Nejedlý <a href="https://twitter.com/jsmesami">@jsmesami</a>
			</li>
		</ul>
	</div>
	<div class="col-sm-3">
		<h4>{% trans 'Quick Links' %}</h4>
		<ul class="list-unstyled">
			<li><a href="{% url 'map' %}">{% trans 'Map' %}</a></li>
			<li><a href="{% url 'fruit:add' %}">{% trans 'Add Marker' %}</a></li>
			<li><a href="{% url 'blog:index' %}">Blog</a></li>
			<li><a href="{% url 'codex' %}">{% trans "Picker's Codex" %}</a></li>
			<li><a href="{% url 'team' %}">{% trans 'Our Team' %}</a></li>
			<li><a href="{% url 'support' %}">{% trans 'Support Us' %}</a></li>
			<li><a href="{% url 'herbarium:index' %}">{% trans 'Herbarium' %}</a></li>
		</ul>
	</div>
	<div class="col-sm-4">
		<h4>{% trans 'Social Networks' %}</h4>
		<ul class="list-unstyled">
			<li><a href="https://www.facebook.com/naovoce">Facebook</a></li>
			<li><a href="https://twitter.com/na_ovoce">Twitter</a></li>
		</ul>
		<h4>{% trans 'Friends' %}</h4>
		<ul class="list-unstyled">
			<li><a href="http://mundraub.org/" target="_blank" rel="noopener noreferrer">Mundraub.org</a></li>
			<li><a href="http://www.fruitmap.sk/" target="_blank" rel="noopener noreferrer">Fruitmap.sk</a></li>
		</ul>
	</div>
</div>
<div class="footer row">
	<div class="col-sm-12">
		<hr>
		<p>
			<strong>Attributions:</strong>
			Maps by <a href="http://leafletjs.com/" target="_blank" rel="noopener noreferrer">Leaflet</a>,
			map data &copy;&nbsp;<a href="https://osm.org/copyright" target="_blank" rel="noopener noreferrer">OpenStreetMap</a>
			contributors, geocoding by
			<a href="https://developers.arcgis.com/en/features/geocoding/" target="_blank" rel="noopener noreferrer">Esri</a>.<br>
			{% blocktrans trimmed %}
			<strong>Na-ovoce.cz</strong> is built using Open Source Software and is OSS itself, hosted on
			<a href="https://github.com/jsmesami/naovoce" target="_blank" rel="noopener noreferrer">GitHub</a>.
			{% endblocktrans %}
		</p>
	</div>
</div>
