{% load i18n %}

<div class="social row">
	<div class="facebook">
		<div class="fb-share-button"
		     data-href="{{ entry.get_absolute_url }}"
		     data-layout="button">
		</div>
	</div>
	<div class="twitter">
		<a href="https://twitter.com/share"
		   class="twitter-share-button"
		   data-via="na_ovoce"
		   data-count="none">Tweet
		</a>
	</div>
	{% url 'support-financially' as url %}
	<div class="donate">
		<a href="{{ url }}">Donate</a>
	</div>
	<span class="donate">
		{% blocktrans trimmed %}
			Do you like what we do? Please consider a little <a href="{{ url }}">donation</a> to keep us going.
		{% endblocktrans %}
	</span>
</div>
