{% load i18n %}
{% load static from staticfiles %}

<div id="user-info">
	<div id="wurst">
		{# the logo #}
		<a href="http://wordpress.na-ovoce.cz" target="_blank" rel="home" class="logo">
			<img src="{% static 'img/na-ovoce.svg' %}" alt="na-ovoce">
		</a>
		
		<div id="ham">
			{# back to website #}
			<a href="http://wordpress.na-ovoce.cz" target="_blank" class="back-to-web btn btn_alternate">
				{% trans 'back to website' %}
			</a>

			{# go back to the Map index #}
			<a href="/map" class="back-to-map btn">
				{% trans 'back to map' %}
			</a>

		    
			{% if request.user.is_authenticated %}
			    <a href="{{ request.user.get_absolute_url }}" title="{% trans 'User profile' %}" class="btn user_name">{{ request.user.get_short_name }}</a><span class="slash">|</span><a href="{% url 'account_logout' %}?next={{ request.path }}" title="{% trans 'Sign out' %}" class="btn inout">{% trans 'Sign out' %}</a>
			    
			    {% with num_msg=request.user.get_unread_messages.count %}
				    {% if num_msg %}
					    <a href="{% url 'pickers:messages' request.user.id %}" class="btn messages-count" title="{% blocktrans %}You have {{ num_msg }} unread messages{% endblocktrans %}.">
						    {{ num_msg }}
					    </a>
				    {% endif %}
			    {% endwith %}

			{% else %}
			    <a href="{% url 'account_login' %}?next={{ request.path }}" title="{% trans 'Sign in' %}" class="btn sign_in">
			    	{% trans 'Sign in' %}
			    </a>
			    <span class="slash">|</span>
			    <a href="{% url 'account_signup' %}" title="{% trans 'Registration' %}" class="btn register">
			    	{% trans 'Registration' %}
			    </a>
			{% endif %}
		    
		    
		    {# add marker #}
			<a href="{% url 'fruit:add' %}" id="add-to-map" class="btn add-to-map">
			    {% trans 'Add Marker' %}
		    </a>

		    {# picker codex #}
		   	<!--
		   	<a href="http://wordpress.na-ovoce.cz/kodex" target="_blank" class="btn">
		    	{% trans 'Picker codex' %}
		    </a> 
		    -->

		    {# Herbarium #}
		    <a href="http://wordpress.na-ovoce.cz/herbar" target="_blank" class="btn herbarium">
		    	{% trans 'Herbarium' %}
		    </a>
	    </div>
    </div>
	
	{# mobile user menu toggler #}
	{% if request.user.is_authenticated %}
		<a href="#" class="user_menu_toggle"></a>
	{% endif %}

	{# mobile menu toggler #}
	<a href="#" class="ham_toggle"></a>
	
	{# mobile toggler #}
	<a href="#" class="panel_toggle"></a>

	{# filter toggler #}
    <div class="handle">
		<a href="#" class="toggler">
			<span class="img"></span>
		</a>
	</div>
    
</div>
