{% extends 'staticpage/projects.html' %}
{% load i18n %}

{% block content %}
	<div class="row">
		<div class="col-sm-3 store-links">
			<a class="app-store" href="https://itunes.apple.com/cz/app/na-ovoce/id1101703036?mt=8" target="_blank">
				<img alt="Na ovoce App Store" src="https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg">
			</a>
			<a href='https://play.google.com/store/apps/details?id=com.naovoce.naovoce' target="_blank">
				<img alt='Na ovoce Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/cs_badge_web_generic.png'/>
			</a>
		</div>
		<div class="col-sm-9">
			{{ block.super }}
		</div>
	</div>
{% endblock %}
