{% extends 'staticpage/page.html' %}

{% load i18n %}
{% load static from staticfiles %}
{% load compress %}

{% block support_active %}active{% endblock %}

{% block content %}
	{{ block.super }}
	{% if section == 'financially' %}
	<div class="row donation">
		<div class="col-sm-push-3 col-sm-6">
			<h3>{% trans 'Support Us Now' %}</h3>
			<form class="donation" action="" method="get">
				<div class="form-group donation-amount">
					<label id="amount_100">
						<input type="radio" name="amount" value="100" checked>
						100
					</label>
					<label id="amount_300">
						<input type="radio" name="amount" value="300">
						300
					</label>
					<label id="amount_600">
						<input type="radio" name="amount" value="600">
						600
					</label>
					<label id="amount_1000">
						<input type="radio" name="amount" value="1000">
						1000
					</label>
				</div>
				<div class="form-group donation-freq">
					<label class="radio-inline">
						<input type="radio" name="freq" value="">
						{% trans 'One Time' %}
					</label>
					<label class="radio-inline">
						<input type="radio" name="freq" value="28" checked>
						{% trans 'Monthly' %}
					</label>
				</div>
				<div class="form-group donation-amount-custom">
					<label>
						<input type="number" min="100" class="form-control"> Kč
						<button type="submit" class="btn btn-success">
							{% trans 'Donate' %}
						</button>
					</label>
				</div>
			</form>
		</div>
	</div>
	{% elif section == 'zoot' %}
	<div class="row">
		<div class="thumb-large">
			<img src="{% static 'img/zoot/zoot1.jpg' %}" alt="Zoot Dobro">
		</div>
		<div class="thumb-large">
			<img src="{% static 'img/zoot/zoot2.jpg' %}" alt="Zoot Dobro">
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	{% compress js inline %}
		<script type="text/coffeescript" src="{% static 'coffee/donate.coffee' %}" charset="utf-8"></script>
	{% endcompress %}
{% endblock %}
