{% extends 'staticpage/page.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block about_active %}active{% endblock %}

{% block content %}
	{{ block.super }}
	<h3>{% trans 'Core Team' %}</h3>
	<div class="row">
		<div class="col-sm-2 col-xs-4">
			<img class="img-responsive" src="{% static 'img/team/katka_kubankova.jpg' %}" alt="Katka Kubánková">
			<h5>Katka<br>Kubánková</h5>
		</div>
		<div class="col-sm-2 col-xs-4">
			<img class="img-responsive" src="{% static 'img/team/edita_hornova.jpg' %}" alt="Edita Hornová">
			<h5>Edita<br>Hornová</h5>
		</div>
		<div class="col-sm-2 col-xs-4">
			<img class="img-responsive" src="{% static 'img/team/joerg_koesters.jpg' %}" alt="Jörg Kösters">
			<h5>Joerg<br>Koesters</h5>
		</div>
		<div class="col-sm-2 col-xs-4">
			<img class="img-responsive" src="{% static 'img/team/frantisek_marcik.jpg' %}" alt="František Marčík">
			<h5>František<br>Marčík</h5>
		</div>
		<div class="col-sm-2 col-xs-4">
			<img class="img-responsive" src="{% static 'img/team/monika_krikavova.jpg' %}" alt="Monika Křikavová">
			<h5>Monika<br>Křikavová</h5>
		</div>
		<div class="col-sm-2 col-xs-4">
			<img class="img-responsive" src="{% static 'img/team/ondra_nejedly.jpg' %}" alt="Ondra Nejedlý">
			<h5>Ondra<br>Nejedlý</h5>
		</div>
	</div>
{% endblock %}
