{% load i18n %}
{% load bootstrap %}

{% if request.user.is_authenticated %}
	<form action="" method="post" enctype="multipart/form-data" role="form" class="image-form {% if image_form.errors %}errors{% endif %}">
	{% csrf_token %}

		{# {{ image_form.caption|bootstrap }} #}
		<p>
			<input class=" form-control" id="id_caption" maxlength="140" name="caption" type="text" placeholder="{% trans 'title' %}">
		</p>
		{{ image_form.non_field_errors }}
		{% trans 'Choose a photo' as label %}
		{% include 'inc/fileinput.html' with field=image_form.image %}
		<div class="tamper">
			{{ image_form.tamper.errors }}
			{{ image_form.tamper|bootstrap }}
		</div>
        <input type="submit" class="btn" id="id_submit" value="{% trans 'Add a photo' %}">
		<input type="hidden" name="token" value="{{ token }}">
		<input type="hidden" name="image_form" value="image_form">
	</form>
	
{% else %}
	<a href="{% url 'account_login' %}?next={{ request.path }}">
		{% trans 'Sign in' context 'imperative' %}
	</a>
	
	{% trans 'to add a photo' %}.

{% endif %}
