{% extends 'base.html' %}

{% load i18n l10n %}
{% load static from staticfiles %}
{% load compress %}

{% block title %}{% trans "Add a Marker" %} | {{ block.super }}{% endblock %}

{% block map_active %}active{% endblock %}

{% block body_class %}add_fruit panel_open{% endblock %}

{% block body %}
	{# header #}
	{% include 'inc/user_info.html' %}

	<div class="container-fluid">
		

		<div class="row gold">
		    
			<div id="map-detail" class="col-md-9 col-sm-7 col-xs-12">
			</div>

		    <div class="col-md-3 col-sm-5 the_panel">
			    <div class="nano">
			    	<div class="nano-content">
				    	<div class="inner_minor">
						    <h1>
						    	{% trans "You can add a marker here" %}
						   	</h1>
							
				            <p class="description">
					            {% trans 'Please place the marker into the map' %}
					            {% trans 'or enter the coordinates in decimal format, eg.:'%} <code>{{ 14.449108|localize }}</code>
				            </p>
					        

					        {% block form %}
					        	{% include "fruit/inc/fruitform.html" with mode="add" %}
					    	{% endblock %}
						</div>
				    </div>
				 </div>
		    </div>    
		</div>
	</div>
{% endblock %}



{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'components/leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'components/leaflet/esri-leaflet-geocoder.css' %}">
	<link rel="stylesheet" href="{% static 'components/leaflet/L.Control.Locate.css' %}">
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static 'components/leaflet/leaflet.js' %}"></script>
	<script src="{% static 'components/leaflet/esri-leaflet.js' %}"></script>
	<script src="{% static 'components/leaflet/esri-leaflet-geocoder.js' %}"></script>
	<script src="{% static 'components/leaflet/L.Control.Locate.min.js' %}"></script>

	{% include 'inc/mapjs.html' %}

	{% compress js inline %}
	<script type="text/coffeescript" charset="utf-8">
	# initialize map
	$('#map-detail').fillViewport()

	$lat = $('#id_latitude').change -> handleFruitForm()
	$lng = $('#id_longitude').change -> handleFruitForm()
	$kind = $('#id_kind').change -> handleFruitForm()
	$latFormGroup = $lat.closest('.form-group')
	$lngFormGroup = $lng.closest('.form-group')

	map = new Naovoce.Map 'map-detail'
		.on 'click', (e) ->
			loc = e.latlng
			marker.setLatLng loc
			$lat.val loc.lat.toFixed(10)
			$lng.val loc.lng.toFixed(10)
		.loadState()
		.on 'moveend', ->
			@saveState()
		.addLocate()
		.addSearch()

	{% block edit %}
	marker = new Naovoce.Marker null, 'F00D'
	map.on 'click', ->
		if not map.hasLayer marker
			map.addLayer marker
	{% endblock %}

	do handleFruitForm = ->
		lat = $lat.val()
		lng = $lng.val()
		$selectedKind = $kind.find ":selected"

		validLat = lat and $.isNumeric(lat) and (lat >= -90) and (lat <= 90)
		validLng = lng and $.isNumeric(lng) and (lng >= -180) and (lng <= 180)

		$latFormGroup.toggleClass('has-error', validLat is false)
		$lngFormGroup.toggleClass('has-error', validLng is false)

		if validLat and validLng
			marker.setLatLng [lat, lng]
			if not map.hasLayer marker
				map.addLayer marker
			map.setView [lat, lng]

		marker.setIcon($selectedKind.data('key'))

	</script>
	{% endcompress %}
	
{% endblock %}
