{% extends "base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans 'Delete Marker' context 'infinitive' %} | {{ block.super }}{% endblock %}

{% block body_class %}delete_fruit{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	<div class="row panel panel-default">
		<div class="panel-heading">{% trans 'Delete marker' %}</div>
		<form class="panel-body" action='' method="post">{% csrf_token %}
			{{ form|bootstrap }}
			<input class="btn btn-danger" value="{% trans 'Delete' context 'infinitive' %}" type="submit">
			<a href="/map" class="back_link">
				{% trans 'Back' %}
			</a>
		</form>
	</div>
	</div>
	</div>
{% endblock %}
