{% extends 'base.html' %}

{% load i18n l10n %}
{% load static from staticfiles %}
{% load fruit %}
{% load coords %}
{% load avatar %}

{% block title %}{{ fruit.kind.name|title }} | {{ block.super }}{% endblock %}

{% block meta_description %}
	{{ fruit.description }}
{% endblock %}

{% block map_active %}active{% endblock %}

{% block content %}
<div class="row detail-info">
	<div class="col-sm-6 media">
		<span class="fruit-icon-huge pull-left media-object"
		      style="color:#{{ fruit.kind.color }}">
			&#x{{ fruit.kind.key }};
		</span>
	    <div class="media-body">
            {% with herbarium=fruit.kind.herbarium %}
	            {% if herbarium %}
	                <h3><a href="{{ herbarium.get_absolute_url }}">{{ fruit.kind.name }}</a></h3>
	            {% else %}
		            <h3>{{ fruit.kind.name }}</h3>
	            {% endif %}
            {% endwith %}
		    <p>{% trans "Shared by" %}
			    <strong>
	                <a href="{% url 'pickers:detail' fruit.user.id fruit.user.slug %}">{{ fruit.user.username }}</a>
			    </strong>
		    </p>
		    <p>{% trans "Added" %}: <strong>{{ fruit.created }}</strong></p>
	    </div>
	</div>

	{% if not fruit.deleted %}
		<div class="col-sm-6">
		    <p class="geo">{% trans "Unknown address" %}</p>
		    <p>{{ fruit.latitude|stringformat:"f" }},&nbsp;{{ fruit.longitude|stringformat:"f" }}</p>
		    <p>({% dms_coords fruit.latitude fruit.longitude %})</p>
		</div>
	{% else %}
	    <div class="col-sm-6">
			<h3>{% trans "This marker has been deleted" %}.</h3>
		    {% if fruit.why_deleted %}
	            <p>{% trans 'Reason of deletion' %}: <strong>{{ fruit.why_deleted }}</strong></p>
		    {% endif %}
		</div>
	{% endif %}

	{% if fruit.description %}
	    <div class="col-sm-12">
		    <div class="fruit-description">
	            <p><strong>{% trans "Description" %}:</strong> {{ fruit.description }}</p>
		    </div>
	    </div>
	{% endif %}
</div>
<div class="row">
	{% if not fruit.deleted %}
	    <div class="col-sm-12">
		    <div id="map-detail"></div>
		</div>
	{% endif %}

    <div class="col-sm-12">
        <ul class="quick-links">
	        <li><a href="{% url 'map' %}">{% trans 'Large map' %}</a></li>
            {% if request.user|can_edit:fruit %}
		        <li><a href="{% url 'fruit:edit' fruit.id %}">{% trans 'Edit' %}</a></li>
		        <li><a href="{% url 'fruit:delete' fruit.id %}">{% trans 'Delete' %}</a></li>
	        {% endif %}
	        <li><a href="{% url 'fruit:add' %}">{% trans 'Add marker' %}</a></li>
            {% with herbarium=fruit.kind.herbarium %}
	            {% if herbarium %}
	                <li><a href="{{ herbarium.get_absolute_url }}">{% trans 'Herbarium' %}</a></li>
	            {% endif %}
            {% endwith %}
        </ul>
        <hr>
    </div>
</div>

<div class="row">
	{% include 'comments/inc/comments.html' %}
	{% include 'gallery/inc/images.html' %}
</div>

{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'components/leaflet/dist/leaflet.css' %}">
{% endblock %}

{% block scripts %}
	{{ block.super }}
	{% include 'comments/inc/commentsjs.html' %}
	{% include 'gallery/inc/imagesjs.html' %}
	{% if not fruit.deleted %}
	<script src="{% static 'components/leaflet/dist/leaflet.js' %}"></script>
	<script src="{% static 'components/esri-leaflet/dist/esri-leaflet.js' %}"></script>
	<script src="{% static 'components/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.js' %}"></script>
	{% include 'inc/mapjs.html' %}
	<script type="text/coffeescript" charset="utf-8">
	center = new L.LatLng({{ fruit.latitude|lower|unlocalize }}, {{ fruit.longitude|lower|unlocalize }})

	map = new Naovoce.Map 'map-detail'
		.focusTo center
		.saveState()
		.addLayer(new Naovoce.Marker(center, '{{ fruit.kind.key }}'))

	map.fetchAddress center, (address) ->
		$('.geo').text address

	</script>
	{% endif %}
{% endblock %}
