{% extends 'base.html' %}

{% load i18n l10n %}
{% load static from staticfiles %}
{% load fruit %}
{% load coords %}
{% load avatar %}
{% load compress %}
{% load thumbnail %}


{% block css %}
	<link rel="stylesheet" href="{% static 'components/leaflet/leaflet.css' %}">
	<link rel="stylesheet" href="{% static 'components/leaflet/esri-leaflet-geocoder.css' %}">
	<link rel="stylesheet" href="{% static 'components/leaflet/MarkerCluster.css' %}">
	<link rel="stylesheet" href="{% static 'components/leaflet/L.Control.Locate.css' %}">
	{{ block.super }}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	{% include 'comments/inc/formjs.html' %}
	{% include 'gallery/inc/formjs.html' %}

	{% if not fruit.is_deleted %}
		<script src="{% static 'components/leaflet/leaflet.js' %}"></script>
		<script src="{% static 'components/leaflet/L.Control.Locate.min.js' %}"></script>
		<script src="{% static 'components/leaflet/esri-leaflet.js' %}"></script>
		<script src="{% static 'components/leaflet/esri-leaflet-geocoder.js' %}"></script>
		<script src="{% static 'components/slick.min.js' %}"></script>

		{% include 'inc/mapjs.html' %}

		<script>
			// lookbook stuff
			$(document).ready(function(){

				var lookbook = $('.lookbook')

				$('a.gallery-link,a.close_lookbook').click(function (e) {
					e.preventDefault();
					$('#map-detail,.lookbook,.close_lookbook_holder').toggleClass('swap')
					// as the slick loads the content dynamically and the lookbook is hidden first,
					// we have to refresh its memory a bit
					lookbook.slick('refresh')
				});

				var next_text = '{% trans "Next" %}'
				var prev_text = '{% trans "Previous" %}'

				function fix_carousel(){
					$('.lookbook,.lookbook img').css({
						'max-height': $(window).height() - $('#user-info').height() + 'px'
					})
				}

				fix_carousel()

				$(window).bind('resize', function(e){
				    window.resizeEvt;
				    $(window).resize(function(){
				        clearTimeout(window.resizeEvt);
				        window.resizeEvt = setTimeout(function(){
				        fix_carousel()
				        }, 250);
				    });
				});

				// run carousel
			  	lookbook.slick({
				  	dots: false,
					infinite: true,
					speed: 300,
					slidesToShow: 1,
					slidesToScroll: 1,
					lazyLoad: 'ondemand',
					nextArrow : '<button type="button" class="slick-next">' + next_text + '</button>',
					prevArrow: '<button type="button" class="slick-prev">' + prev_text + '</button>'
				});

			});
		</script>

		{% compress js inline %}
			<script type="text/coffeescript" charset="utf-8">
			# initialize map
			$('#map-detail').fillViewport()

			center = new L.LatLng({{ fruit.position.y|lower|unlocalize }}, {{ fruit.position.x|lower|unlocalize }})

			map = new Naovoce.Map 'map-detail'
				.focusTo center
				.saveState()
				.addLayer(new Naovoce.Marker(center, '{{ fruit.kind.key }}'))
				.addLocate()
				.addSearch()

			map.fetchAddress center, (address) ->
				$('.geo').text address

			</script>
		{% endcompress %}
	{% endif %}
{% endblock %}

{% block title %}{{ fruit.kind.name|title }} | {{ block.super }}{% endblock %}

{% block meta_description %}
	{{ fruit.description }}
{% endblock %}

{% block map_active %}active{% endblock %}

{% block body_class %}panel_open fruit_detail{% endblock %}

{# salat & tomatos #}

{% block body %}
	{# get header #}
	{% include 'inc/user_info.html' %}

	<div class="container-fluid">
		<div class="row gold">
			{# map object #}
			<div id="map-detail" class="col-md-9 col-sm-7"></div>

			{# peak in the the box #}
			{% if images %}
				{% include 'gallery/inc/lookbook.html' %}
			{% endif %}
			{# end of - lookbook #}


			<div class="col-md-3 col-sm-5 the_panel">
				{# arrow back to map #}
				<a href="/map" class="back_to_map_quick"></a>
				<div class="nano">
					<div class="nano-content">
						{# frit image/s #}
						{% if images %}
							{% with cover=container.get_cover_image %}

								{% if images|length == 1 %}
									<a href="{{ cover.get_absolute_url }}" class="gallery-link">
								{% else %}
									<a href="{{ container.images_index_url }}" class="gallery-link">

								{% endif %}

								{% thumbnail cover.image "400" as thumb %}
									<img src="{{ thumb.url }}" alt="{{ thumb.caption }}" title="{{ thumb.caption }}" class="img-responsive">
								{% endthumbnail %}

									{% if images|length > 1 %}
									<span class="number">{{ images|length }}</span>
									{% endif %}
								</a>
							{% endwith %}

						{% endif %}

						<div class="inner_minor">
							{# fruit elementary info #}
							<div class="detail-info">
								<span class="fruit-icon-huge media-object" style="color:#{{ fruit.kind.color }}">
									&#x{{ fruit.kind.key }};
								</span>
					            <h1>
					            	{{ fruit.kind.name }}
					            </h1>
								{% if fruit.description %}
								    <div class="fruit-description">
							            {{ fruit.description }}
								    </div>
								{% endif %}
							</div>

						    <div class="media-body">
						        {% if fruit.catalogue == fruit.CATALOGUE.revival %}
					                <div class="user">
						                {% blocktrans with url=fruit.user.get_absolute_url username=fruit.user.username trimmed %}
							                Returned to the land by <a href="{{ url }}">{{ username }}</a>
						                {% endblocktrans %}
							        </div>

						        {% else %}
								    <div class="user">
								    	{% trans "Shared by" %}
									    <strong>
							                <a href="{% url 'pickers:detail' fruit.user.id fruit.user.slug %}">{{ fruit.user.username }}</a>
									    </strong>
								    </div>
						        {% endif %}

							    <div class="created">
							    	{% trans "Added" %}: <strong>{{ fruit.created }}</strong>
							    </div>
						    </div>

							{# fruit geo data #}
							{% if not fruit.is_deleted %}
							    <div class="geo">
							    	{% trans "Unknown address" %}
							    	{{ fruit.position.y|floatformat:6|localize }};# &nbsp;{{ fruit.position.x|floatformat:6|localize }}
							    	({% dms_coords fruit.position.y fruit.position.x %})
							    </div>

							{% else %}
								<h3>{% trans "This marker has been deleted" %}.</h3>
							    {% if fruit.reason_of_deletion %}
						            <p>{% trans 'Reason of deletion' %}: <strong>{{ fruit.reason_of_deletion }}</strong></p>
							    {% endif %}

							{% endif %}

							{# user links #}
							 <ul class="list">
					            {% with herbarium=fruit.kind.herbarium %}
						            {% if herbarium %}
						                <li><a href="{{ herbarium.new_url }}">{% trans 'Herbarium' %}</a></li>
						            {% endif %}
					            {% endwith %}

						        {% if request.user|can_edit:fruit %}
							        <li>
							        	<a href="{% url 'fruit:edit' fruit.id %}">
							        		{% trans 'Edit' %}
							        	</a>
							        </li>
							        <li>
							        	<a href="{% url 'fruit:delete' fruit.id %}">
							        		{% trans 'Delete' %}
							        	</a>
							        </li>
						        {% endif %}
						    </ul>

							{% include 'comments/inc/comments.html' %}
							{% include 'gallery/inc/link.html' %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
