{% extends 'fruit/add.html' %}

{% load i18n l10n %}

{% block title %}{% trans "Edit a Marker" %} | {{ block.super }}{% endblock %}

{% block map_active %}active{% endblock %}

{% block section %}
    <h3>{% trans "You can edit your marker here" %}</h3>
{% endblock %}

{% block form %}
    {% include "fruit/inc/fruitform.html" with mode="edit" %}
{% endblock %}

{% block edit %}
	center = new L.LatLng {{ fruit.position.y|lower|unlocalize }}, {{ fruit.position.x|lower|unlocalize }}
	marker = new Naovoce.Marker center, '{{ fruit.kind.key }}'
	map.addLayer marker
		.focusTo center
		.saveState()
{% endblock %}
