{% extends 'base.html' %}

{% load i18n %}
{% load markup %}
{% load thumbs %}
{% load full_url %}
{% load typo %}

{% block title %}{{ entry.title }} | {{ block.super }}{% endblock %}

{% block head %}
	<meta property="og:site_name" content="Na-ovoce.cz">
	<meta property="og:url" content="{% full_url entry.get_absolute_url %}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{ entry.title }}">
	{% cache_thumb entry.get_cover_image.image w=700 h=500 as cover_image %}
	<meta property="og:image" content="{% full_url cover_image %}">
{% endblock %}

{% block blog_active %}active{% endblock %}

{% block content %}
	<h2>{{ entry.title }}</h2>
	{% text_with_thumbs entry.text|prepos|markdown w=700 h=500 %}
	<hr>
	{% include 'inc/social.html' %}
	<hr>
	<div class="row">
		{% include 'comments/inc/comments.html' %}
	</div>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	{% include 'comments/inc/commentsjs.html' %}
	{% include 'inc/facebookjs.html' %}
	{% include 'inc/twitterjs.html' %}
{% endblock %}
