{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}Blog | {{ block.super }}{% endblock %}

{% block meta_description %}
	{% blocktrans trimmed %}
		Loads of information about fruits and its processing, countryside trips,
		fruit tree care, interesting events and projects.
	{% endblocktrans %}
{% endblock %}

{% block blog_active %}active{% endblock %}

{% block content %}

<p class="pills">
	{% trans 'Categories' %}:
	<a href="{% url 'blog:index' %}"
	   class="{% if not category_pk %}active{% endif %}">{% trans 'all' %}</a>
{% for cat in categories %}
	<a href="{{ cat.get_absolute_url }}"
	   class="{% if cat.pk == category_pk %}active{% endif %}">{{ cat.name }}</a>
{% endfor %}
</p>

{% include 'blog/page.html' %}

{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static 'endless_pagination/js/endless-pagination.js' %}"></script>
	<script>
		$.endlessPaginate({
			paginateOnScroll: true
		});
	</script>
{% endblock %}
