{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans 'Confirm Email Address' %} | {{ block.super }}{% endblock %}

{% block content %}
	<h1>{% trans 'Confirm Email Address' %}</h1>

	{% user_display email_address.user as user_display %}
	<p>
	{% blocktrans with email=email_address.email trimmed %}
		You have confirmed that <a href="mailto:{{ email }}">{{ email }}</a>
		is an email address for user {{ user_display }}.
	{% endblocktrans %}
	</p>

{% endblock %}
