{% extends "base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load socialaccount %}

{% block title %}{% trans 'Sign In' %} | {{ block.super }}{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="row panel panel-default">
			<div class="panel-heading">{% trans 'Sign in' %}</div>
			<div class="panel-heading subheading">
				<a class="btn btn-primary" href="{% provider_login_url "facebook" %}">
					{% blocktrans %}You can sign in with <strong>Facebook</strong>{% endblocktrans %}
				</a>
			</div>
			<form class="panel-body" method="post" action="{% url 'account_login' %}" role="form">{% csrf_token %}

				{% if form.errors %}
				<div class="alert alert-danger">
					<p>{% trans "Your username and password didn't match. Please try again." %}</p>
				</div>
				{% endif %}

				{{ form.login|bootstrap }}
				{{ form.password|bootstrap }}

				<div class="form-group">
					<input class="btn btn-primary" value="{% trans 'Sign in' context 'infinitive' %}" type="submit">
					<div class="checkbox">
						<label>
							<input id="id_remember" name="remember" type="checkbox">
							{% trans 'Remember me on this computer' %}.
						</label>
					</div>
				</div>

				{% if redirect_field_value %}
					<input name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" type="hidden">
				{% endif %}
			</form>
			<div class="panel-footer">
				<p>
				{% blocktrans trimmed %}
					If you have not created an account yet, then please
					<a class="alert-link" href="{{ signup_url }}">register</a> first.
				{% endblocktrans %}
				</p>
				<a href="{% url 'account_reset_password' %}">{% trans "Did you forget your password?" %}</a>
			</div>
		</div>
	</div>
	</div>
{% endblock %}
