{% extends "base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans 'Sign in' %} | {{ block.super }}{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	<div class="row panel panel-default">
		<div class="panel-heading">{% trans 'Sign in' %}</div>
		<form class="panel-body" method="post" action="{% url 'account_login' %}" role="form">{% csrf_token %}
			<div class="alert alert-info">
				<p>
				{% blocktrans trimmed %}
					If you have not created an account yet, then please
					<a class="alert-link" href="{{ signup_url }}">register</a> first.
				{% endblocktrans %}
				</p>
			</div>
			{% if form.errors %}
			<div class="alert alert-danger">
				<p>{% trans "Your username and password didn't match. Please try again." %}</p>
			</div>
			{% endif %}
			{{ form.login|bootstrap }}
			{{ form.password|bootstrap }}
			<div class="checkbox">
				<label>
					<input id="id_remember" name="remember" type="checkbox">
					{{ form.remember.label }}
				</label>
			</div>
			{% if redirect_field_value %}
			<input name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" type="hidden">
			{% endif %}
			<input class="btn btn-primary" value="{% trans 'Sign in' context 'infinitive' %}" type="submit">
			&nbsp;<a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
		</form>
	</div>
	</div>
	</div>
{% endblock %}
