{% extends "base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Change Password" %} | {{ block.super }}{% endblock %}

{% block content %}

{% if token_fail %}
	<h1>{% trans "Bad Token" %}</h1>
    {% url 'account_reset_password' as passwd_reset_url %}

{% blocktrans trimmed %}
	<p>The password reset link was invalid, possibly because it has already been used.</p>
	<p>Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
{% endblocktrans %}

{% else %}

	<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	<div class="row panel panel-default">
		<div class="panel-heading">{% trans "Change Password" %}</div>
        <form class="panel-body" method="post" action="" role="form">{% csrf_token %}
			{{ form.password1|bootstrap }}
			{{ form.password2|bootstrap }}
	        <input class="btn btn-primary" value="{% trans "change password" %}" type="submit">
        </form>
	</div>
	</div>
	</div>

{% endif %}

{% endblock %}
