{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Change Password" %} | {{ block.super }}{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="row panel panel-default">
			<div class="panel-heading">{% trans 'Change password' %}</div>

		    <form class="panel-body" method="post" action="{% url 'account_change_password' %}">{% csrf_token %}
		        {{ form|bootstrap }}
				<div class="form-group">
					<input class="btn btn-primary" value="{% trans "Change password" %}" type="submit">
				</div>
		    </form>
		</div>
	</div>
	</div>
{% endblock %}
