{% extends "base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans 'Password Reset' %} | {{ block.super }}{% endblock %}

{% block content %}
	{% trans 'Password Reset' as reset %}
	<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	<div class="row panel panel-default">
		<div class="panel-heading">{{ reset }}</div>
		<form class="panel-body" method="post" action="{% url 'account_reset_password' %}" role="form">{% csrf_token %}
			<div class="alert alert-info">
				<p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
			</div>
		    {% if user.is_authenticated %}
			<div class="alert alert-danger">
				{% include "account/snippets/already_logged_in.html" %}
			</div>
		    {% endif %}
			{{ form.email|bootstrap }}
			<p>{% trans 'Please contact us if you have any trouble resetting your password.' %}</p>
			<input class="btn btn-warning" value="{% trans 'Reset My Password' %}" type="submit">
		</form>
	</div>
	</div>
	</div>
{% endblock %}
