{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %} | {{ block.super }}{% endblock %}

{% block content %}
    <h1>{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
	<div class="alert alert-danger">
		{% include "account/snippets/already_logged_in.html" %}
	</div>
    {% endif %}

	<p>{% trans "We have sent an email to you for verification. Follow the link provided to reset your password." %}</p>
    <p>{% trans "If you don't receive the email in a few minutes, please check your spam folder." %}</p>
    <p>{% trans "Note that free mailing services, such as Gmail, may delay the message delivery." %}</p>
{% endblock %}
