{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap %}
{% load thumbnail %}

{% block title %}{% trans "Change settings" %} | {{ block.super }}{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="row panel panel-default">
			<div class="panel-heading">{% trans 'Change settings' %}</div>

		    <form class="panel-body" method="post" action="{% url 'account_settings' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {%for field in form%}
                    {%if field.id_for_label == 'id_avatar'%}
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            {{ field.label_tag }}
                            {% for error in field.errors %}
                                <span class="help-block {{ form.error_css_class }}">{{ error }}</span>
                            {% endfor %}
                            <div class=" ">
                                {%if request.user.avatar%}
                                    {% thumbnail request.user.avatar "60x60" crop="center" as im %}
                                        <img src="{{im.url}}" alt="{{field.help_text}}"  class="img-thumbnail" />
                                    {%endthumbnail%}
                                    <input id="avatar-clear_id" type="checkbox" name="avatar-clear">
                                    <label for="avatar-clear_id">Zrušit</label>
                                {%else%}
                                    {%trans "No user avatar yet."%}
                                {%endif%}
                                <br />
                                <br />
                                <input id="{{field.id_for_label}}" type="file" name="{{field.html_name}}">
                            </div>
                        </div>
                    {%else%}
                        {{field|bootstrap}}
                    {%endif%}
                {%endfor%}
				<div class="form-group">
					<input class="btn btn-primary" value="{% trans "Change settings" %}" type="submit">
				</div>
		    </form>
		</div>
	</div>
	</div>
{% endblock %}

