{% extends "base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load socialaccount %}

{% block title %}{% trans "Registration" %} | {{ block.super }}{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	<div class="row panel panel-default">
		<div class="panel-heading">{% trans "Registration" %}</div>
		<div class="panel-heading subheading">
			<a class="btn btn-primary" href="{% provider_login_url "facebook" %}">
				{% blocktrans %}You can sign up with <strong>Facebook</strong>{% endblocktrans %}
			</a>
		</div>
		<form class="panel-body" method="post" action="{% url 'account_signup' %}" role="form">{% csrf_token %}
			{{ form|bootstrap }}

			<p>
				{% trans 'By clicking on the register button you agree with the' %} <a href="/web/kodex">{% trans 'Picker codex' %}</a>.
			</p>

			<div class="form-group">
				<input class="btn btn-primary" value="{% trans 'Register' %}" type="submit">
			</div>

			{% if redirect_field_value %}
				<input name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" type="hidden">
			{% endif %}
		</form>
		<div class="panel-footer">
			{% blocktrans trimmed %}
				If you already have an account, please <a href="{{ login_url }}">sign in</a>.
			{% endblocktrans %}
		</div>
	</div>
	</div>
	</div>
{% endblock %}
