{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Verify Your Email Address' %} | {{ block.super }}{% endblock %}

{% block content %}
    <h1>{% trans "Thank you!" %}</h1>
	<p>
		{% trans "We have sent an email to you for verification." %}
		{% trans 'Follow the link provided to finalize the signup process.' %}
	</p>
    <p>{% trans "If you don't receive the email in a few minutes, please check your spam folder." %}</p>
    <p>{% trans "Note that free mailing services, such as Gmail, may delay the message delivery." %}</p>
{% endblock %}
