{% extends "base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block title %}{% trans "Account Connections" %} | {{ block.super }}{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	<div class="row panel panel-default">
		<div class="panel-heading">{% trans "Account connections" %}</div>
		{% if not form.accounts %}
			<div class="panel-heading subheading">
				{% trans 'You have no third party account connected' %}.
			</div>
		{% else %}
			<div class="panel-heading subheading">
				{% trans 'You can sign in to your account using' %}:
			</div>
		{% endif %}

		<div class="panel-body">
			{{ form.non_field_errors }}
			{% if form.accounts %}
				<form method="post" action="{% url 'socialaccount_connections' %}">{% csrf_token %}
					<fieldset class="form-group">
					{% for base_account in form.accounts %}
					{% with base_account.get_provider_account as account %}
						<div class="radio">
						<label for="id_account_{{ base_account.id }}">
							<input id="id_account_{{ base_account.id }}" type="radio"
							       name="account" value="{{ base_account.id }}">
							<strong>{{ account.get_brand.name }}</strong>
							({{ account }})
						</label>
						</div>
					{% endwith %}
					{% endfor %}
					</fieldset>
					<div>
						<input class="btn btn-warning" value="{% trans 'Remove' %}" type="submit">
					</div>
				</form>
			{% else %}
				<p>{% trans 'Add a third party account' %}:</p>

				{% get_providers as socialaccount_providers %}

				{% for provider in socialaccount_providers %}
					<a title="{{ provider.name }}" class="btn btn-primary"
					   href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
						{{ provider.name }}
					</a>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	</div>
	</div>
{% endblock %}
