{% extends "base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load socialaccount %}

{% block title %}{% trans "Facebook Registration" %} | {{ block.super }}{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	<div class="row panel panel-default">
		<div class="panel-heading">{% trans "Facebook registration" %}</div>

		<form class="panel-body" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">{% csrf_token %}
			<div class="alert alert-info">
				<p>
					{% blocktrans trimmed with provider_name=account.get_provider.name site_name=site.name %}
					You are about to use your {{provider_name}} account to login to
					{{site_name}}. As a final step, please complete the following form.
					{% endblocktrans %}
				</p>
			</div>

			{{ form.username|bootstrap }}

			{% with form.email as field %}
				<div class="form-group {% if field.errors %}has-error{% endif %}">
		            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
		            <input class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
		                   {% if field.value %} value="{{ field.value }}" readonly="readonly" {% endif %}
		                   placeholder="{{ field.placeholder }}" type="email">
					{% for error in field.errors %}
					<span class="help-block">{{ error }}</span>
					{% endfor %}
				</div>
			{% endwith %}

			{% if redirect_field_value %}
				<input name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" type="hidden">
			{% endif %}
			<div class="form-group">
				<input class="btn btn-primary" value="{% trans 'Register' %}" type="submit">
			</div>
		</form>
	</div>
	</div>
	</div>
{% endblock %}
