{% extends 'base.html' %}

{% load i18n %}
{% load thumbnail %}
{% load thumbs %}

{% block title %}{% trans 'Gallery' %} | {{ container }} | {{ block.super }}{% endblock %}

{% block content %}
	{% block title_section %}
		<h2><a href="{{ container.get_absolute_url }}">{{ container }}</a></h2>
	{% endblock %}
	<div class="row">
		<div class="col-sm-12 browser">
			{% if current.image|is_portrait %}
				{% thumbnail current.image "x600" upscale=false as thumb %}
					<img src="{{ thumb.url }}" class="img-current"
					     alt="{{ current.caption }}" title="{{ current.caption }}">
				{% endthumbnail %}
			{% else %}
				{% thumbnail current.image "960" upscale=false as thumb %}
					<img src="{{ thumb.url }}" class="img-current"
					     alt="{{ current.caption }}" title="{{ current.caption }}">
				{% endthumbnail %}
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			{% if current.caption %}
				<p><em>{{ current.caption }}</em></p>
			{% endif %}
			<p>{% trans "Author" %}:
				<strong><a href="{{ current.author.get_absolute_url }}">{{ current.author }}</a></strong>
				({% trans "added" %} <strong>{{ current.created }}</strong>)
			</p>
			{% if prev or next %}
			<hr>
			<ul class="quick-links">
				{% if prev %}
				<li>
					<a href="{{ prev.get_absolute_url }}">&larr; {% trans "Previous" %}</a>
				</li>
				{% endif %}
				{% if next %}
				<li>
					<a href="{{ next.get_absolute_url }}">{% trans "Next" %} &rarr;</a>
				</li>
				{% endif %}
				<li>
					<a href="{{ container.get_gallery_index_url }}">Index</a>
				</li>
			</ul>
			{% endif %}
		</div>
	</div>
{% endblock %}
