{% extends 'base.html' %}

{% load i18n %}
{% load thumbs %}

{% block title %}{% trans 'Gallery' %} | {{ container }} | {{ block.super }}{% endblock %}

{% block content %}
	{% block title_section %}
		<h2><a href="{{ container.get_absolute_url }}">&laquo; {{ container }}</a></h2>
	{% endblock %}

	{% include "gallery/inc/thumbs.html" %}

	{% if image_form %}
	<div class="row">
		<div class="col-sm-6">
			{% include 'gallery/inc/form.html' %}
		</div>
	</div>
	{% endif %}
{% endblock %}

{% if image_form %}
	{% block scripts %}
		{{ block.super }}
		{% include 'gallery/inc/formjs.html' %}
	{% endblock %}
{% endif %}
