<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
{% load static from staticfiles %}
{% load i18n %}
{% load compress %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="description" content="{% block meta_description %}{% endblock %}">
	<meta name="author" content="Na-ovoce.cz">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/apple-touch-icon-152x152-precomposed.png' %}">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %}">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120-precomposed.png' %}">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114-precomposed.png' %}">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'img/apple-touch-icon-76x76-precomposed.png' %}">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
	<link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon-precomposed.png' %}">

	{% block css %}
		{% compress css %}
			<link rel="stylesheet" href="{% static 'less/naovoce.less' %}" type="text/less" media="screen, projection" charset="utf-8">
		{% endcompress %}
	{% endblock %}
    <link rel="alternate" type="application/rss+xml" href="{% url 'rss-blog' %}" title="Blog">
    <link rel="alternate" type="application/rss+xml" href="{% url 'rss-fruit' %}" title="{% trans 'Fresh fruit' %}">

	{% block head %}
	{% endblock %}

	<title>{% block title %}{% endblock %}</title>

	{% block analytics %}
	{% endblock %}
</head>
<body>
<div id="fb-root"></div>
{% block body %}
{% endblock %}

{% block scripts %}
{% endblock %}

</body>
</html>
