{% extends '_base.html' %}

{% block title %}Na ovoce{% endblock %}

{% load i18n %}
{% load static from staticfiles %}
{% load compress %}

{% block body %}

{% include 'inc/user_info.html' %}

{% block navigation %}
<nav class="navbar navbar-default navbar-static-top" id="main-nav" role="navigation">
	<div class="container">
		<div class="row">
            <div class="col-xs-5 col-sm-2">
                <a id="brand-logo" href="{% url 'home' %}">
                    {% include 'inc/svg/logo.html' %}
                </a>
            </div>
            <div class="col-xs-7 col-sm-10 social">
                <a href="https://www.facebook.com/naovoce">{% include 'inc/svg/facebook.html' %}</a>
                <a href="https://twitter.com/na_ovoce">{% include 'inc/svg/twitter.html' %}</a>
                <button class="navbar-toggle" data-target=".navbar-collapse"
                        data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="col-xs-12 col-sm-10">
                <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
                    <li class="{% block map_active %}{% endblock %}">
                        <a href="{% url 'map' %}">{% trans 'Map' %}</a>
                    </li>
                    <li class="{% block pickers_active %}{% endblock %}">
                        <a href="{% url 'pickers:index' %}">{% trans 'Pickers' %}</a>
                    </li>
                    <li class="{% block herbarium_active %}{% endblock %}">
                        <a href="{% url 'herbarium:index' %}">{% trans 'Herbarium' %}</a>
                    </li>
                    <li class="{% block about_active %}{% endblock %}">
                        <a href="{% url 'about' %}">{% trans 'About Us' %}</a>
                    </li>
                    <li class="{% block codex_active %}{% endblock %}">
                        <a href="{% url 'codex' %}">{% trans "Codex" %}</a>
                    </li>
                    <li class="{% block blog_active %}{% endblock %}">
                        <a href="{% url 'blog:index' %}">Blog</a>
                    </li>
                </ul>
            </div>
		</div>
	</div>
</nav>
{% endblock %}

{% block wide_content %}
<div class="container" id="main-content">
	<hr class="head-separator">

	{% if messages %}
	<ul class="messages list-unstyled">
        {% for message in messages %}
        <li class="alert {{ message.tags }}">{{ message }}</li>
        {% endfor %}
	</ul>
	{% endif %}

	{% block content %}
	{% endblock %}

	{% block footer %}
		{% include 'inc/footer.html' %}
	{% endblock %}
</div>
{% endblock %}

{% endblock body %}

{% block scripts %}
<script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'components/bootstrap/js/transition.js' %}"></script>
<script src="{% static 'components/bootstrap/js/collapse.js' %}"></script>

{% compress js %}
	<script src="{% static 'coffee/naovoce.coffee' %}" type="text/coffeescript" charset="utf-8"></script>
{% endcompress %}

{% if not DEBUG %}
{% compress js inline %}
<script type="text/coffeescript">
	cookieHTML = $ "
		<p id='cookie-monster'>{% trans 'By using this site you agree to the use of cookies for analytics.' %}
		|&nbsp;<a href='https://www.google.com/policies/technologies/cookies/' target='_blank'>{% trans 'More information' %}</a>
		|&nbsp;<a href='#' class='dismiss'>{% trans 'Dismiss' %}</a>
		</p>"

	if document.cookie.indexOf('cookieMonster') < 0
		cookieHTML.prependTo 'body'

	cookieHTML.find('.dismiss').on 'click', ->
		cookieHTML.slideUp()
		year = new Date()
		year.setTime(year.getTime() + 365*24*60*60*1000)
		document.cookie = "cookieMonster=fed; Path=/; Domain=.na-ovoce.cz; Expires=#{ year.toUTCString() }; Secure"
		false
	</script>
{% endcompress %}
{% endif %}

{% endblock %}

{% block analytics %}
{% if not DEBUG %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-6140888-17', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
{% endif %}
{% endblock analytics %}
