{% extends 'base.html' %}

{% load i18n %}
{% load markup %}
{% load thumbs %}
{% load truncate %}
{% load typo %}
{% load static %}
{% load avatar %}

{% block meta_description %}
	{% blocktrans trimmed %}
		The web community platform &quot;Na ovoce&quot; aims to map fruit trees, fruit bushes
		and herbs in wild and public spaces.
	{% endblocktrans %}
{% endblock %}

{% block content %}
	<div class="row">
		<h2 class="claim">
			Mapujme přírodní bohatství v&nbsp;podobě volně rostoucích ovocných stromů, keřů a&nbsp;bylinek.
		</h2>
		<form class="call" action="{% url 'fruit:add' %}" method="get">
			<button type="submit" class="btn btn-success">
				{% trans 'Add marker to the map' %}
			</button>
		</form>
	</div>
	<hr>
	<div class="row">
		<div class="thumb-large">
			<img src="{% static 'img/banner_application.png' %}">
		</div>
		<div class="thumb-large">
			<a href="{% url 'support' %}">
				<img src="{% static 'img/banner_support_us.jpg' %}">
			</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-8">
			{####  Blog Preview ####}
			<h3><a href="{% url 'blog:index' %}">{% trans 'Fruit News' %}</a></h3>
			{% for entry in blogposts|slice:'3' %}
			{% with url=entry.get_absolute_url %}
			<div class="media blog-preview">
				<a href="{{ url }}" class="pull-left">
					<img src="{% get_thumb entry.get_cover_image.image w=100 %}"
					     alt="{{ entry.title }}"
					     class="media-object">
				</a>
				<div class="media-body">
					<h4 class="media-heading"><a href="{{ url }}">{{ entry.title }}</a></h4>
					{% read_more entry.text|strip_thumbs|prepos|markdown length=20 target=url %}
				</div>
			</div>
			{% endwith %}
			{% endfor %}

			{####  Top Pickers ####}
			<hr>
			<h3>{% trans "Top Contributors" %}</h3>
			<ul class="list-unstyled hall-of-fame">
			{% for p in top_pickers_all_time %}
				<li>
					{% with name=p.get_short_name %}
					<a href="{{ p.get_absolute_url }}" title="{{ name }}">
						<img src="{% avatar p %}" alt={{ name }} class="avatar">{{ name }}</a>
					{% endwith %}
					{% blocktrans count picker_fruit_count=p.fruit_count trimmed %}
						(one marker)
					{% plural %}
						({{ picker_fruit_count }} markers)
					{% endblocktrans %}
				</li>
			{% endfor %}
			</ul>

			<h4>{% trans "Top Contributors Last Month" %}</h4>
			<ul class="list-unstyled hall-of-fame">
			{% for p in top_pickers_last_month %}
				<li>
					{% with name=p.get_short_name %}
					<a href="{{ p.get_absolute_url }}" title="{{ name }}">
						<img src="{% avatar p %}" alt={{ name }} class="avatar">{{ name }}</a>
					{% endwith %}
					{% blocktrans count picker_fruit_count=p.fruit_count trimmed %}
						(one marker)
					{% plural %}
						({{ picker_fruit_count }} markers)
					{% endblocktrans %}
				</li>
			{% endfor %}
			</ul>

			<hr>
			<p>{% blocktrans trimmed %}
				Kudos to all <strong>{{ pickers_count }}</strong> pickers,
				that contributed <strong>{{ fruit_count }}</strong> markers.
			{% endblocktrans %}</p>

			{####  Facebook box ####}
			<hr>
			<div class="fb-page" data-href="https://www.facebook.com/naovoce"
			     data-small-header="false" data-adapt-container-width="true"
			     data-hide-cover="false" data-show-facepile="true" data-width="450"
			     data-height="" data-show-posts="false">
				<div class="fb-xfbml-parse-ignore">
					<blockquote cite="https://www.facebook.com/naovoce"><a
							href="https://www.facebook.com/naovoce">Na Ovoce</a>
					</blockquote>
				</div>
			</div>
		</div>

		{####  Latest Entries ####}
		<div class="col-sm-4 latest-entries">
			<h3><a href="{% url 'map' %}">{% trans 'Explore the Map' %}</a></h3>
			<div class="media">
				<a href="{% url 'map' %}" class="explore-map"></a>
			</div>

			<h4>{% trans 'Latest Entries' %}</h4>
			{% for f in fruits|slice:'6' %}
			<div class="media">
				<span class="fruit-icon-large pull-left media-object" style="color:#{{ f.kind.color }}">
					&#x{{ f.kind.key }};
				</span>
			    <p class="media-body">
				    <a href="{{ f.get_absolute_url }}"><strong>{{ f.kind.name }}</strong><br></a>
				    {% trans 'Shared by' %} <a href="{{ f.user.get_absolute_url }}">{{ f.user.get_short_name }}</a>
			    </p>
			</div>
			{% endfor %}

			<h4>{% trans 'Latest Comments' %}</h4>
			{% for c in comments|slice:'4' %}
			<div class="media">
				<p class="media-body comment-text {% if c.complaint %}complaint{% endif %}">
					<span class="author"><a href="{{ c.author_url }}">{{ c.author }}</a></span>
					<a href="{{ c.url }}">{{ c.text|prepos|truncatewords:10 }}</a>
				</p>
			</div>
			{% endfor %}
		</div>
	</div>
	{% block spaceless %}
	<div class="row latest-images">
		<hr>
		<h3>{% trans 'Latest photos' %}</h3>
		{% for img in images|slice:'7' %}
			<a href="{{ img.get_absolute_url }}">
				<img src="{% get_thumb img.image w=100 %}"
				     alt="{{ img.caption }}" title="{{ img.caption }}">
			</a>
		{% endfor %}
	</div>
	{% endblock %}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	{% include 'inc/facebookjs.html' %}
{% endblock %}
