{% extends 'base.html' %}

{% load i18n %}
{% load static from staticfiles %}
{% load getitem %}
{% load naturalsort %}

{% block title %}{% trans 'Map' %} | {{ block.super }}{% endblock %}

{% block meta_description %}
	{% blocktrans trimmed %}
		The &quot;Na ovoce&quot; map provides you with views of wild fruit trees, fruit bushes and herbs,
		whose fruits are available for free picking.
	{% endblocktrans %}
{% endblock %}

{% block map_active %}active{% endblock %}

{% block wide_content %}
<div id="map">
	<div id="filter">
		<div class="handle">
			<a href="#" class="canceller">{% include 'inc/svg/cancel.html' %}</a>
			<a href="#" class="toggler">{% trans 'filter' %}</a>
		</div>
		<div id="filter-items">
		{% for name, text in classes %}
			<a href="#" class="class-choice {{ name }}" data-target=".{{ name }}">
				{{ text }}
			</a>
			<ul class="kinds-list {{ name }}">
			{% for kind in kinds_by_class|getitem:name|naturalsort %}
				<li><a href="#" data-kind="{{ kind.key }}">{{ kind }}</a></li>
			{% endfor %}
			</ul>
		{% endfor %}
		</div>
	</div>

    <a href="{% url 'fruit:add' %}" id="add-to-map">{% trans 'Add Marker' %}</a>
</div>

{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'components/leaflet/dist/leaflet.css' %}">
	<link rel="stylesheet" href="{% static 'components/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css' %}">
	<link rel="stylesheet" href="{% static 'components/leaflet.markercluster/dist/MarkerCluster.css' %}">
	<link rel="stylesheet" href="{% static 'components/leaflet.locatecontrol/dist/L.Control.Locate.css' %}">
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static 'components/leaflet/dist/leaflet.js' %}"></script>
	<script src="{% static 'components/leaflet.locatecontrol/dist/L.Control.Locate.min.js' %}"></script>
	<script src="{% static 'components/leaflet.markercluster/dist/leaflet.markercluster.js' %}"></script>
	<script src="{% static 'components/esri-leaflet/dist/esri-leaflet.js' %}"></script>
	<script src="{% static 'components/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.js' %}"></script>
	<script src="{% static 'components/leaflet-hash/leaflet-hash.js' %}"></script>
	{% include 'inc/mapjs.html' %}
	<script type="text/coffeescript" charset="utf-8" src="{% static 'coffee/kinds-filter.coffee' %}"></script>
	<script type="text/coffeescript" charset="utf-8">

	$('#map').fillViewport()

	map = new Naovoce.Map 'map'
	new L.Hash map

	map.loadMarkers '{% url 'api:fruit-list' %}'
		.loadState()
		.on 'moveend', ->
			@saveState()
		.addLocate()
		.addSearch()

	filter.reload = (kind) ->
		if not kind?
			map.showMarkers()
		else
			map.filterMarkers(kind)

	</script>
{% endblock %}
