{% extends 'base.html' %}

{% load i18n %}
{% load choices %}
{% load thumbs %}

{% block about_active %}active{% endblock %}

{% block content %}
	<p class="pills">
		{% trans 'Media types' %}:
		<a href="{% url 'media' %}" class="{% if not active_type_slug %}active{% endif %}">
			{% trans 'all' %}</a>
		{% for text, slug in media_types %}
			<a href="{% url 'media' slug %}" class="{% if slug == active_type_slug %}active{% endif %}">
				{{ text }}</a>
		{% endfor %}
	</p>
	<hr>
	<div class="media-coverage row">
	{% for item in media %}
		<div class="col-sm-4">
			<div class="media-item">
				<div class="clearfix">
					<span class="media-type {% choice_name item.TYPE item.type %} small">
						<a href="{% url 'media' item.type_slug %}">
							{% choice_text item.TYPE item.type %}</a>
					</span>
					<span class="media-date small">{{ item.date|date:"SHORT_DATE_FORMAT" }}</span>
				</div>
				<hr>
				{% with link=item.link|default:'#' %}
					<a href="{{ link }}" target="_blank" rel="noopener noreferrer" class="media-logo">
						<img class="img-responsive"
						     alt="{{ item.name }}"
						     src="{% get_thumb item.logo w=180 h=120 %}">
					</a>
					<hr>
					<h4 class="media-title">
						<a href="{{ link }}" target="_blank" rel="noopener noreferrer">
							{{ item.title }}</a>
					</h4>
					<p class="media-perex">
						<a href="{{ link }}" target="_blank" rel="noopener noreferrer">
							{{ item.perex|truncatewords:20 }}</a>
					</p>
				{% endwith %}
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}
